.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Winter25-CS142/FileContentIndex/79eead22-30d4-4832-aabe-fbf6d229aa70.vsidx
.vs/Winter25-CS142/v17/.wsuo
.vs/Winter25-CS142/v17/DocumentLayout.json
Assignment2/.vs/slnx.sqlite
Assignment2/.vs/VSWorkspaceState.json
Assignment2/.vs/assignment_birthdays-WiiliamMentzer-main/FileContentIndex/516f3b09-4e90-4a45-a741-f0c3b825b4ee.vsidx
Assignment2/.vs/assignment_birthdays-WiiliamMentzer-main/FileContentIndex/fd097cb6-c304-4ff5-a29c-c49ff8d70ce5.vsidx
Assignment2/.vs/assignment_birthdays-WiiliamMentzer-main/v17/.wsuo
Assignment2/.vs/assignment_birthdays-WiiliamMentzer-main/v17/DocumentLayout.json
Assignment2/.vscode/extensions.json
